<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="#about" id="about" class="navigation-links-about">
      <span>About</span>
    </a>
    <span id="projects" class="navigation-links-projects">
      <span>Projects</span>
    </span>
    <span class="navigation-links-education"><span>Education</span></span>
    <span class="navigation-links-work"><span>Work</span></span>
    <span class="navigation-links-c-v"><span>CV</span></span>
  </nav>
</div>
